language: objective-c

before_script:
  - export LANG=en_US.UTF-8
  - gem install cocoapods xcpretty --no-ri --no-rdoc --no-document --quiet
  - pod install

script: "xcodebuild -workspace SBLReactiveLocation.xcworkspace -scheme SBLReactiveLocation -sdk iphonesimulator clean test | xcpretty -c && exit ${PIPESTATUS[0]}"
